---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="http://coopervos.info" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
        <ul class="fa-ul main-list">
            <li class="main-list-item">
                <span class="fa fa-area-chart fa-lg main-list-item-icon"></span>
                <a href="https://repoocsov.github.io/data_science">Data Science</a>
              </li>
              <li class="main-list-item">
                <span class="fa fa-desktop fa-lg main-list-item-icon"></span>
                <a href="https://repoocsov.github.io/web_development">Web & Software</a>
              </li>
        </ul>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include first.html %}
        <h3><a href="https://medium.com/@coopervos1/bitcoin-and-freedom-geographically-visualized-d0313b4c3874" target="_blank">Local Bitcoins: A Geographical Investigation</a></h3>
          <a href="https://github.com/repoocsov/Build_Week_1">Project code</a>
          <p> An investigation on how countries' compare in their <i>Local Bitcoins</i> volume and how their volumes line up with their <i>Human Freedom</i> indices.</p>
            <br>
        <h3><a href="https://www.thesignlingo.com/" target="_blank">Signlingo</a></h3>
          <a href="https://github.com/repoocsov/signlingo-ds">Project code</a>/
          <a href="https://www.youtube.com/watch?v=-5lEa91dnqI">Presentation</a>
          <p>Part of the team responsible for building and deploying a model to recognize if a user is signing the correct ASL alphabet letter.
API endpoint accepts video and returns a boolean along with the confidence. A more in depth outline of the steps we took and challenges we faced can be found <a href="">here</a>. 
The primary technologies used were Python, opencv, flask,
YoloV3, AWS elastic Beanstalk, and Docker.
</p>
        </div>
      {% endif %}
    </main>
</div>
