---
layout: base
---
<div class="wrapper">
    <header>
        
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include first.html %}
        <h3><a href="https://medium.com/@coopervos1/bitcoin-and-freedom-geographically-visualized-d0313b4c3874" target="_blank">Local Bitcoins: A Geographical Investigation</a></h3>
          <a href="https://github.com/repoocsov/Build_Week_1">Project code</a>
          <p>Investigated Local Bitcoins volume by country and when compared to where the countries stand from a human freedom standpoint.</p>
            
          <h3><a href="https://medium.com/@coopervos1/attempting-to-improve-bitcoin-fee-market-prediction-models-e666589e5277" target="_blank">Attempting to improve Bitcoin Fee Market Predictions</a></h3>
          <a href="https://github.com/repoocsov/Build_Week_2">Project code</a>
          <p>Using alternative metrics to try to predict the state of the bitcoin fee market.</p>
        </div>
    
      {% endif %}
    </main>
</div>
