---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="http://coopervos.info" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
        <ul class="fa-ul main-list">
            <li class="main-list-item">
                <span class="fa fa-area-chart fa-lg main-list-item-icon"></span>
                <a href="https://repoocsov.github.io/data_science">Data Science</a>
              </li>
              <li class="main-list-item">
                <span class="fa fa-desktop fa-lg main-list-item-icon"></span>
                <a href="https://repoocsov.github.io/web_development">Web Development</a>
              </li>
        </ul>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
          <h1>Projects:</h1>
                <h3>Book Manager</h3>
                <a href="http://coopervos.ninja/books/" target="_blank">Demo</a>
                <p>
                User Application for tracking books (server side) and articles (client side). User can sort books into ongoing or completed. Aggregate stats kept on pages and books read.
                </p>
                <hr>
                <h3>Hot Ash Cigars</h3>
                <a href="http://coopervos.ninja/hotashcigars/" target="_blank">Demo</a>
                <p>
                E-Commerce store written entirely in vanilla PHP. User account and cart functionality with the help of cookies and sessions. Built before I had an awareness of responsive design. Mobile users beware!
                </p>
          <hr>
                <h3>The Friends of Kohler-Andrae State Park Website</h3>
                <a href="https://youtu.be/IyyZz2Gdov4" target="_blank">Demo</a>
                <p>
                WordPress website built for a non-profit volunteer group based out of Wisconsin. The team that developed this consisted of me (software-developer), a graphic design student, and two marketing students. Our team competed agianst two other working groups for this client. Our implementation was chosen. Communication between fellow team members and the client was paramount.
                </p>
          <hr>
                <h3>Weimer for Desktop</h3>
                <img class="webdevportfolio" src="{{ site.baseurl }}{{ site.compass.asp }}">
                <p>
                    Desktop application for purchasing rare coins and bank notes. Built using ASP.net and webforms. Complete with user account system, shopping cart, and administrator section.
                </p>
          <hr>
                <h3>Weimer for Mobile</h3>
                <img class="webdevportfolio" src="{{ site.baseurl }}{{ site.compass.angular }}">
                <p>
                     All the functionality of the desktop application with the same Microsoft database but built for mobile. API had to be built in the ASP.net application to accept, process, and return information. Built with Angular and Ionic.
                </p>
          <hr>
                <h3>Bitcoin Block Explorer</h3>
                <img class="webdevportfolio" src="{{ site.baseurl }}{{ site.compass.btc }}">
                <p>
                    Basic block explorer using my own node (specifically the Bcoin implementation). Built using NodeJS and Express.
                </p>
          
          
        </div>
      {% endif %}
    </main>
</div>
