---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        <h1>Projects:</h1>
        <div>
            <div>
                <h3>Book Manager</h3>
                <a href="http://coopervos.ninja/mobileFinal/" target="_blank">Demo</a>
                <p>
                User Application for tracking books (server side) and articles (client side). User can sort books into ongoing or completed. Aggregate stats kept on pages and books read. Create, read, update, and delete operations enabled.
                </p>
            </div>
            <div>
                <h3>Hot Ashe Cigars e-commerce</h3>
                <a href="http://coopervos.info/hotashcigars/" target="_blank">Demo</a>
                <p>
                User Application for tracking books (server side) and articles (client side). User can sort books into ongoing or completed. Aggregate stats kept on pages and books read. Create, read, update, and delete operations enabled.
                </p>
            </div>
            
            
        </div>
      {% endif %}
    </main>
</div>
