<h2>About</h2>
<p>Technology enthusiast, aspiring sovereign individual, Bitcoiner.</p>



<p>For business inquiries email me at coopervos&#49;@gmail.com</p>

<hr />

<ul class="fa-ul main-list">
   <li class="main-list-item">
    <span class="fa fa-area-chart fa-lg main-list-item-icon"></span>
    <a href="https://repoocsov.github.io/data_science">Data Science</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-desktop fa-lg main-list-item-icon"></span>
    <a href="https://repoocsov.github.io/web_development">Web Development</a>
  </li>
</ul>
