<h2>About</h2>
<p>Technology enthusiast, aspiring sovereign individual, Bitcoiner. Primarily interested in the intersection of technology and politics.</p>

<h2>Accomplishments</h2>
<ul>
  <li>Web and Software Development degree</li>
  <li>Soon to be Lambda Data science graduate</li>
</ul>

<p>For business inquiries email me at coopervos1@gmail.com</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/repoocsov">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://coopervos.info">Web Dev</a>
  </li>
</ul>
