<h2>About</h2>
<p>Technology enthusiast, aspiring sovereign individual, Bitcoiner. Primarily interested in crossroads where technology and politics meet.</p>

<h2>Accomplishments</h2>
<ul>
  <li>Web & Software Development Degree</li>
  <li>Soon to be Lambda Data Science Graduate</li>
</ul>

<p>For business inquiries email me at coopervos&#49;@gmail.com</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/repoocsov">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-desktop fa-lg main-list-item-icon"></span>
    <a href="https://coopervos.info">Web Development</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-area-chart fa-lg main-list-item-icon"></span>
    <a href="https://repoocsov.github.io/data_science">Data Science</a>
  </li>
</ul>
